.photo-login{
   background: url("../../Dashboard/data/dashboardImage.webp") top/cover no-repeat, linear-gradient(rgba(6, 6, 6, 0.705), rgba(16, 16, 16, 0.708));
    background-blend-mode: overlay;
   background-repeat: no-repeat;
   background-size: cover; 
   border-radius: 100%;
}

.img-container{
    margin-left: 2%;

}
