.margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250 * 18);
    animation: scroll 100s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.img {
    width: 100%;
}

.img:hover {
    transform: translate(20px);
}

.slider::before,
.slider::after {
    content: "";
    height: 100%;
    position:absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
    transform: rotate(180deg)
}

.tittle {
    color: chocolate;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: -30px;
    margin-left: -50px;
}






