.suport-image{
     background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 100;
   position: relative;
    
}

.tamaño {
    font-size: 40px;
}